<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method= "POST" action="/posts">

      <label>Post Name</label>
      <input name="name" type="text" name="name">

      <label>Post Content</label>
      <input name="content" type="text" name="content">

      <input type="submit" id="submit" value="submit">

    </form>

  </body>
</html>
