<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <p>Post name:
        <input id="name" type="text" name="name"></p>
      <p>Post content:<input id="content" type="text" name="content"></p>
      <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>
