<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/posts">
      <input type="text" name="name" value="name">
      <input type="text" name="content" value="content">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
