<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Make a new post</h1><br>
    <form action="/posts" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name" id="post_1">
      <label for="content">Content: </label>
      <input type="text" name="content" id="content_1">
      <button id="submit" type="submit">Submit</button>
    </form>
  </body>
</html>
