<%= @post.name %>
<%= @post.content %>
<form method="POST" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" id="delete"> 
</form>
